@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 261 85% 79%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --warning: 36 66% 64%;
    --warning-foreground: 210 20% 98%;

    --success: 89 51% 61%;
    --success-foreground: 210 20% 98%;

    --danger: 349 89% 72%;
    --danger-foreground: 210 20% 98%;

    --info: 221 89% 72%;
    --info-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;

    --ring: 261 85% 79%;

    --radius: 1rem;

    /* --chart-1: 220 70% 50%; */
    /* --chart-2: 160 60% 45%; */
    /* --chart-3: 30 80% 55%; */
    /* --chart-4: 280 65% 60%; */
    /* --chart-5: 340 75% 55%; */
  }
}

@layer components {
  .base-input {
    @apply flex  h-10 w-full rounded-md border border-input ring-ring bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .block-container {
    @apply flex bg-background rounded-lg border-border border-solid border-2 p-4 gap-4;
  }
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
li,
td,
th {
  @apply text-left;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
